.MyPage_Wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 32px;
    gap: 24px;

    .my_info {
        display: flex;
        flex-direction: column;
        padding: 25px;
        background-color: var(--white);
        border-radius: 16px;
        border: 1px solid var(--designgray);

        .title {
            font-size: 24px;
            font-weight: 700;
            color: var(--black);
        }

        .caption {
            font-size: 14px;
            font-weight: 400;
            color: var(--lightblack);
            margin-top: 4px;
        }

        .user_info {
            display: flex;
            margin-top: 24px;
            gap: 24px;

            .info_left {
                display: flex;
                flex: 1;
                flex-direction: column;
                align-items: center;
                border-radius: 16px;
                background: linear-gradient(135deg,
                        #FF9137 0%,
                        #FF8D33 11%,
                        #FE8A2F 22%,
                        #FE862B 33%,
                        #FD8326 44%,
                        #FC7F21 56%,
                        #FC7B1B 67%,
                        #FB7814 78%,
                        #FB740B 89%,
                        #FA7000 100%);
                padding: 24px;

                .profile {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    background-color: var(--white);
                    padding: 20px;
                }

                .user_name {
                    margin-top: 15px;
                    font-size: 24px;
                    font-weight: 700;
                    color: var(--white);
                }

                .user_job {
                    margin-top: 5px;
                    font-size: 14px;
                    font-weight: 400;
                    color: var(--white);
                }

                .location {
                    margin-top: 4px;
                    font-size: 12px;
                    font-weight: 400;
                    color: var(--white);
                }

                .divider {
                    width: 100%;
                    height: 1px;
                    background-color: var(--white);
                    margin: 16px 0;
                }

                .id_title {
                    font-size: 12px;
                    font-weight: 400;
                    color: var(--white);
                }

                .user_id {
                    margin-top: 4px;
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--white);
                }

                .date_title {
                    margin-top: 12px;
                    font-size: 12px;
                    font-weight: 400;
                    color: var(--white);
                }

                .signup_date {
                    margin-top: 4px;
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--white);
                }
            }

            .info_right {
                display: flex;
                flex: 2;
                flex-direction: column;
                gap: 16px;

                .authority_title {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    .icon {
                        width: 20px;
                        height: 20px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    .text {
                        font-size: 18px;
                        font-weight: 700;
                        color: var(--black);
                    }
                }

                .authority_level {
                    display: flex;
                    flex: 0 1 0;
                    justify-content: space-between;
                    align-items: center;
                    padding: 17px;
                    background-color: var(--subcolor);
                    border-radius: 12px;
                    border: 1px solid var(--main);

                    .level_left {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        .level_title {
                            font-size: 14px;
                            font-weight: 400;
                            color: var(--lightblack);
                        }

                        .level_name {
                            font-size: 24px;
                            font-weight: 700;
                            color: var(--highlight);
                        }
                    }

                    .level_right {
                        padding: 8px 16px;
                        background-color: var(--highlight);
                        border-radius: 10px;
                        font-size: 12px;
                        font-weight: 400;
                        color: var(--white);
                    }
                }

                .authority_lists {
                    display: flex;
                    gap: 8px;

                    .list_item {
                        display: flex;
                        align-items: center;
                        padding: 8px 10px;
                        background-color: var(--deepwhite);
                        border-radius: 8px;
                        gap: 8px;

                        .icon {
                            width: 16px;
                            height: 16px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }

                        .text {
                            font-size: 14px;
                            font-weight: 500;
                            color: var(--lightblack);
                        }
                    }
                }
            }
        }
    }

    .infra {
        display: flex;
        flex-direction: column;
        padding: 25px;
        background-color: var(--white);
        border-radius: 16px;
        border: 1px solid var(--designgray);
        gap: 24px;

        .infra_title {
            display: flex;
            align-items: center;
            gap: 12px;

            .icon {
                width: 48px;
                height: 48px;
                background-color: var(--lightblue);
                border-radius: 12px;
                padding: 12px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .text {
                display: flex;
                flex-direction: column;

                .title {
                    font-size: 18px;
                    font-weight: 700;
                    color: var(--black);
                }

                .caption {
                    font-size: 14px;
                    font-weight: 400;
                    color: var(--lightblack);
                }
            }
        }

        .infra_info {
            display: flex;
            gap: 16px;

            .online {
                display: flex;
                flex: 1;
                flex-direction: column;
                background-color: var(--lightgreen);
                border-radius: 12px;
                padding: 16px;
                gap: 3px;

                .title {
                    font-size: 12px;
                    font-weight: 400;
                    color: var(--lightblack);
                }

                .value {
                    font-size: 24px;
                    font-weight: 700;
                    color: var(--green);
                }
            }

            .offline {
                display: flex;
                flex: 1;
                flex-direction: column;
                background-color: var(--lightred);
                border-radius: 12px;
                padding: 16px;
                gap: 3px;

                .title {
                    font-size: 12px;
                    font-weight: 400;
                    color: var(--lightblack);
                }

                .value {
                    font-size: 24px;
                    font-weight: 700;
                    color: var(--red);
                }
            }

            .battery {
                display: flex;
                flex: 1;
                flex-direction: column;
                background-color: var(--lightblue);
                border-radius: 12px;
                padding: 16px;
                gap: 3px;

                .title {
                    font-size: 12px;
                    font-weight: 400;
                    color: var(--lightblack);
                }

                .value {
                    font-size: 24px;
                    font-weight: 700;
                    color: var(--blue);
                }
            }

            .need_adjust {
                display: flex;
                flex: 1;
                flex-direction: column;
                background-color: #FFF7ED;
                border-radius: 12px;
                padding: 16px;
                gap: 3px;

                .title {
                    font-size: 12px;
                    font-weight: 400;
                    color: var(--lightblack);
                }

                .value {
                    font-size: 24px;
                    font-weight: 700;
                    color: #F54900;
                }
            }
        }

        .adjust_list {
            display: flex;
            flex-direction: column;
            margin-bottom: 4px;

            .title {
                font-size: 16px;
                font-weight: 600;
                color: var(--black);
            }

            .item_list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 8px;
                flex: 0 1 0;
                background-color: #FFF7ED;
                border-radius: 12px;
                border: 1px solid #FFD6A8;
                padding: 16px;

                .item_left {
                    display: flex;
                    gap: 16px;

                    .icon {
                        width: 36px;
                        height: 36px;
                        background-color: #FFEDD4;
                        border-radius: 8px;
                        padding: 8px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    .text {
                        display: flex;
                        flex-direction: column;

                        .sensor_location {
                            font-size: 16px;
                            font-weight: 600;
                            color: var(--black);
                        }

                        .sensor_info {
                            font-size: 12px;
                            font-weight: 400;
                            color: var(--lightblack);
                        }
                    }
                }

                .item_right {
                    padding: 8px 21px;
                    background-color: var(--main);
                    border-radius: 10px;
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--white);
                    cursor: pointer;
                }
            }
        }
    }

    .individualize {
        display: flex;
        flex-direction: column;
        padding: 25px;
        background-color: var(--white);
        border-radius: 16px;
        border: 1px solid var(--designgray);
        gap: 24px;

        .individualize_title {
            display: flex;
            align-items: center;
            gap: 12px;

            .icon {
                width: 48px;
                height: 48px;
                background-color: var(--lightpurple);
                border-radius: 12px;
                padding: 12px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .text {
                display: flex;
                flex-direction: column;

                .title {
                    font-size: 18px;
                    font-weight: 700;
                    color: var(--black);
                }

                .caption {
                    font-size: 14px;
                    font-weight: 400;
                    color: var(--lightblack);
                }
            }
        }

        .dB_setting {
            display: flex;
            flex-direction: column;
            padding: 21px;
            background-color: var(--white);
            border-radius: 12px;
            border: 1px solid var(--designgray);

            .title {
                display: flex;
                align-items: center;
                gap: 8px;

                .icon {
                    width: 20px;
                    height: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .text {
                    font-size: 16px;
                    font-weight: 600;
                    color: var(--black);
                }
            }

            .adjust_value {
                display: flex;
                justify-content: space-between;
                flex: 1;
                margin-top: 16px;
                gap: 16px;

                .dB_adjust {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    gap: 8px;

                    .dB_title {
                        font-size: 14px;
                        font-weight: 500;
                        color: var(--lightblack);
                    }

                    input {
                        padding: 8px 16px;
                        background-color: var(--white);
                        border-radius: 10px;
                        border: 1px solid var(--designgray);
                        font-size: 14px;
                        font-weight: 400;
                        color: var(--black);
                    }

                    input::placeholder {
                        color: var(--gray);
                    }
                }

                .time_adjust {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    gap: 8px;

                    .time_title {
                        font-size: 14px;
                        font-weight: 500;
                        color: var(--lightblack);
                    }

                    input {
                        padding: 8px 16px;
                        background-color: var(--white);
                        border-radius: 10px;
                        border: 1px solid var(--designgray);
                        font-size: 14px;
                        font-weight: 400;
                        color: var(--black);
                    }

                    input::placeholder {
                        color: var(--gray);
                    }
                }
            }

            .caption {
                margin-top: 12px;
                font-size: 12px;
                font-weight: 400;
                color: var(--lightblack);
            }
        }

        .alarm_setting {
            display: flex;
            flex-direction: column;
            padding: 21px;
            background-color: var(--white);
            border-radius: 12px;
            border: 1px solid var(--designgray);

            .title {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .title_left {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .icon {
                        width: 20px;
                        height: 20px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    .text {
                        display: flex;
                        flex-direction: column;

                        .alarm_title {
                            font-size: 16px;
                            font-weight: 600;
                            color: var(--black);
                        }

                        .caption {
                            font-size: 12px;
                            font-weight: 400;
                            color: var(--lightblack);
                        }
                    }
                }

                .title_right {
                    label.switch {
                        position: relative;
                        display: inline-block;
                        width: 40px;
                        height: 20px;

                        input {
                            opacity: 0;
                            width: 0;
                            height: 0;

                            &:checked+.slider {
                                background-color: var(--highlight);
                            }

                            &:checked+.slider:before {
                                transform: translateX(20px);
                            }
                        }

                        .slider {
                            position: absolute;
                            cursor: pointer;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: var(--lightgray);
                            border-radius: 34px;
                            transition: 0.4s;

                            &:before {
                                position: absolute;
                                content: "";
                                height: 16px;
                                width: 16px;
                                left: 2px;
                                bottom: 2px;
                                background-color: white;
                                border-radius: 50%;
                                transition: 0.4s;
                            }
                        }
                    }
                }
            }

            .divider {
                width: 100%;
                height: 1px;
                background-color: var(--designgray);
                margin: 16px 0;
            }

            .adjust_value {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .time_title {
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--lightblack);
                }

                .time_adjust {
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    input {
                        padding: 8px 16px;
                        background-color: var(--white);
                        border-radius: 8px;
                        border: 1px solid var(--designgray);
                        font-size: 14px;
                        font-weight: 400;
                        color: var(--black);
                    }

                    input::placeholder {
                        color: var(--gray);
                    }

                    .tilde {
                        font-size: 16px;
                        font-weight: 400;
                        color: var(--lightblack);
                    }
                }
            }
        }
    }

    .etc {
        display: flex;
        flex-direction: column;
        padding: 25px;
        background-color: var(--white);
        border-radius: 16px;
        border: 1px solid var(--designgray);
        gap: 24px;

        .etc_title {
            display: flex;
            align-items: center;
            gap: 12px;

            .icon {
                width: 48px;
                height: 48px;
                background-color: var(--lightgreen);
                border-radius: 12px;
                padding: 12px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .text {
                display: flex;
                flex-direction: column;

                .title {
                    font-size: 18px;
                    font-weight: 700;
                    color: var(--black);
                }

                .caption {
                    font-size: 14px;
                    font-weight: 400;
                    color: var(--lightblack);
                }
            }
        }

        .list_item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px;
            background-color: var(--whitegreen);
            border-radius: 12px;
            border: 1px solid #B9F8CF;

            .item_left {
                display: flex;
                align-items: center;
                gap: 12px;

                .icon {
                    width: 24px;
                    height: 24px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    .name {
                        font-size: 16px;
                        font-weight: 600;
                        color: var(--black);
                    }

                    .description {
                        font-size: 12px;
                        font-weight: 400;
                        color: var(--lightblack);
                    }
                }
            }

            .item_right {
                padding: 5px 12px;
                background-color: var(--green);
                border-radius: 8px;
                font-size: 14px;
                font-weight: 600;
                color: var(--white);
            }
        }

        .list_item_adjust {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px;
            background-color: #F9FAFB;
            border-radius: 12px;
            border: 1px solid var(--designgray);

            .item_left {
                display: flex;
                align-items: center;
                gap: 12px;

                .icon {
                    width: 24px;
                    height: 24px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    .name {
                        font-size: 16px;
                        font-weight: 600;
                        color: var(--black);
                    }

                    .description {
                        font-size: 12px;
                        font-weight: 400;
                        color: var(--lightblack);
                    }
                }
            }

            .item_right {
                padding: 5px 12px;
                background-color: var(--white);
                border-radius: 8px;
                border: 1px solid var(--designgray);
                font-size: 14px;
                font-weight: 600;
                color: var(--black);
                cursor: pointer;
            }
        }
    }
}