:root {
    // font
    --mainfont: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;

    // color
    --highlight: #FA7000;
    --main: #FF9137;
    --subcolor: #FFB070;
    --backorange: #FFF7ED;

    --black: #000000;
    --lightblack: #4B4B4B;
    --gray: #838383;
    --lightgray: #CACACA;
    --designgray: #ECECEC;
    --deepwhite: #F5F5F5;
    --white: #FFFFFF;

    --blue: #155DFC;
    --lightblue: #DBEAFE;
    --whiteblue: #EFF6FF;
    --green: #00A63E;
    --lightgreen: #DCFCE7;
    --whitegreen: #F0FDF4;
    --purple: #9810FA;
    --lightpurple: #F3E8FF;
    --red: #E7000B;
    --lightred: #FFE2E2;
    --borderred: #FFC9C9;

    // style
    font-family: var(--mainfont);
    font-size: 12px;
    line-height: 1.6;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}